digest = "sha256:1c7e523cde4d596b42e1f3cf1323d3703cf8ff0196d56d78c309af7f0439d148"
symbols = ["CustomMetricsCallBacks", "GraphStyle", "Metrics", "MetricsLoggingContext", "__credits__", "__description__", "__keywords__", "__readme__", "__requires_python__", "__status__", "__title__", "__version__", "log_system_metrics", "monitor_metrics_on_call", "sparkline"]
